<div class="container">
  <form method="POST" action="/mauvat/store" enctype="multipart/form-data" style="margin-top: 100px;">
    <div class="form-group">
      <label for="exampleInputEmail1">Số hiệu BTTNVN</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="So_hieu_bttnvn"
        aria-describedby="emailHelp" value="{{this.So_hieu_bttnvn}}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Tên khoa học</label>
      <input type="text" class="form-control" value="{{this.Ten_kh}}"name="Ten_kh" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Tên Việt Nam</label>
      <input type="text" class="form-control" value="{{this.Ten_vn}}"name="Ten_vn" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Tên địa phương</label>
      <input type="text" class="form-control"value="{{this.Ten_dia_phuong}}" name="Ten_dia_phuong" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Tên tiếng anh</label>
      <input type="text" class="form-control"value="{{this.Ten_tieng_anh}}" name="Ten_tieng_anh" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Thuộc giới</label>
      <input type="text" class="form-control" value="{{this.Gioi}}"name="Gioi" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Ngành</label>
      <input type="text" class="form-control"value="{{this.Nganh}}" name="Nganh" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Lớp</label>
      <input type="text" class="form-control"value="{{this.Lop}}" name="Lop" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Bộ</label>
      <input type="text" class="form-control"value="{{this.Bo}}" name="Bo" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Họ</label>
      <input type="text" class="form-control"value="{{this.Ho}}" name="Ho" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Giống</label>
      <input type="text" class="form-control"value="{{this.Giong}}" name="Giong" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Loài</label>
      <input type="text" class="form-control"value="{{this.Loai}}" name="Loai" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Giới tính</label>

      <select name="Gioi_tinh" required="">

        <option value="Đực">Đực</option>
        <option value="Cái">Cái</option>
        <option value="Lưỡng tính">Lưỡng tính</option>
      </select>


    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Người định tên</label>
      <input type="text" class="form-control" value="{{this.Nguoi_dinh_ten}}"name="Nguoi_dinh_ten" id="">
    </div>
    <div class="form-group">
      <label for="birthday">Ngày định tên:</label>
      <input type="date" id=""value="{{this.Ngay_dinh_ten}}" name="Ngay_dinh_ten">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Số lượng</label>
      <input type="number" class="form-control" value="{{this.So_luong}}"name="So_luong" id="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Loại mẫu vật</label>
      <select name="Loai_mau_vat" required="">
        <option value="Mẫu trưng bày" selected>Mẫu trưng bày</option>
        <option value="Mẫu nghiên cứu">Mẫu nghiên cứu</option>
        <option value="Mẫu tiêu bản">Mẫu tiêu bản</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Cao</label>
      <input type="text" class="form-control"value="{{this.Cao}}" name="Cao" id="">
      <select name="dvcc" required="">

        <option value="mm" selected>mm</option>
        <option value="cm">cm</option>
        <option value="m">m</option>
      </select>

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Rộng</label>
      <input type="text" class="form-control"value="{{this.Rong}}" name="Rong" id="">
      <select name="dvcr" required="">

        <option value="mm" selected>mm</option>
        <option value="cm">cm</option>
        <option value="m">m</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Dài</label>
      <input type="text" class="form-control"value="{{this.Dai}}" name="Dai" id="">
      <select name="dvcd" required="">

        <option value="mm" selected>mm</option>
        <option value="cm">cm</option>
        <option value="m">m</option>
      </select>

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Trọng lượng</label>
      <input type="text" class="form-control"value="{{this.Trong_luong}}" name="Trong_luong" id="">
      <select name="dvtrl" required="">

        <option value="g" selected>g</option>
        <option value="kg">kg</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Thể tích</label>
      <input type="text" class="form-control"value="{{this.The_tich}}" name="The_tich" id="">
      <select name="dvtt" required="">

        <option value="mm^3" selected>mm^3</option>
        <option value="cm^3">cm^3</option>
        <option value="m^3">m^3</option>
    </div>
    <div class="form-group">
      <select name="Quoc_gia" required="">
        <option value="">Việt Nam</option>
      </select>
    </div>
    <div class="form-group">
      <select name="Tinh" required="">
        <option value="">Tỉnh / Thành phố</option>
      </select>
      <select name="Huyen" required="">
        <option value="">Quận / Huyện</option>
      </select>
      <input class="billing_address_1" name="" type="hidden" value="">
      <input class="billing_address_2" name="" type="hidden" value="">
    </div>
    <div class="form-group">
      <label for="">Ảnh</label>
      <br>
      <input type="file" name="Image" value="{{this.Image}}"id=""><br><br>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Video</label>
      <br>
      <input type="file" name="Video"value="{{this.Video}}" id=""><br><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>